*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: auto;
  clear: both;
  font-family: Quattrocento Sans;
  background-image: linear-gradient(to bottom, #edf0f7, #D6EEE6);
}

/*///////////////// HEADER /////////////////*/

#header {
  width: 100%;
  height: 150px;
  background-color: #a2af90;
  position: relative;
}

#header h1 {
  font-family: Dancing Script;
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px #000;
  position: absolute;
  left: 35%;
}

/*///////////////// MAIN IMAGE AND CAPTION /////////////////*/

#full {
  width: 900px;
  margin: auto;
  padding-top: 20px;
}

#main {
  float: left;
  width: 460px;
  padding: 10px;
  position: relative;
}

#main img {
  width: 90%;
}

#caption {
  position: absolute;
  top: 3%;
  left: 80%;
  width: 130px;
  font-family: Quattrocento Sans;
  font-size: 14px;
}

#startGarden {
  font-family: Dancing Script;
  font-size: 24px;
}

#gallery {
  float: right;
  width: 350px;
}

#gallery li {
  list-style: none;
  display: inline-block;
  float: right;
}

#gallery img {
  height: 100px;
  width: 100px;
  padding: 2px;
  transition: all .7s ease-in-out;

}

#gallery img:hover {
  transform: scale(2.8);
}

#divider {
  margin: auto;
  margin-top: 40%;
  border: 0;
  height: 1px;
  width: 65%;
  display: block;
  background-image: linear-gradient(to right, #b5c4c7, #36392a);
  margin-bottom: 100px;
}

/*///////////////// BOTTOM HALF OF PAGE ////////////////*/

#bottomHalf {
width: 850px;
margin: auto;
}

.form {
  float: left;
  width: 370px;
  background-color: white;
}

.description {
  float: right;
  width: 370px;
}

.description h2:before {
  content: "\274B";
}

/*///////////////// FORM /////////////////*/

.form {
border: 1px solid black;
margin-bottom: 50px;
}

#formHeader {
  border-bottom: 1px solid black;
  height: 95px;
  background-image: url('../img/formheader.jpg');
  background-size: cover;
}

#formHeader h1 {
  margin: auto;
  text-align: center;
  padding-top: 10px;
  color: black;
  text-shadow: 2px 2px #fff;
}

input {
  font-family: Quattrocento Sans;
  width: 80px;
}

#firstName {
  margin-right: 3%;
  margin-top: 6%;
  font-size: 16px;
}

#lastName {
  font-size: 16px;
}

#labelFirst {
  margin-left: 3%;
  margin-top: 3%;
}

#email {
  margin-left: 3%;
  margin-top: 6%;
}

#emailInput {
  width: 50%;
  font-size: 16px;
}

#formDivider {
  margin: auto;
  margin-top: 10%;
  border: 0;
  height: 1px;
  width: 80%;
  display: block;
  background-image: linear-gradient(to right, #b9c4c3, #909e69);
}

#msg {
  width: 60%;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 5px;
  height: 70px;
  font-family: Quattrocento Sans;
  font-size: 16px;
}

#textbox {
  transform: translateX(20%);
}

#submitButton {
  width: 50%;
  transform: translateX(50%);
  margin-bottom: 5%;
  background-color: #a08b90;
  border-radius: 5px;
  height: 30px;
  border: 1px solid black;
  color: white;
  font-size: 16px;
  font-family: Quattrocento Sans;
}

#submitButton:hover {
  background-color: #8dadba;
  -o-transition:.9s;
  -ms-transition:.9s;
  -moz-transition:.9s;
  -webkit-transition:.9s;
  transition:.9s;
  border: 1px solid black;
  color: black;
}
